@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply hover:text-orange-500 underline-offset-2 after:content-['_↗'];
}

#prose-content {
  @apply mx-auto max-w-2xl text-pretty prose-stone;
  @apply prose-img:shadow-md prose-img:mb-2 prose-img:border prose-img:border-stone-200 prose-img:rounded-md;
  @apply prose-hr:my-6;
  /* @apply prose-headings:font-serif prose-headings:font-medium prose-headings:tracking-tight; */
  @apply prose-headings:font-semibold prose-headings:text-lg;
  @apply prose-p:leading-6 prose-p:tracking-[-0.005rem];
  @apply prose-ol:my-2 prose-ul:my-2;
}

#prose-content > p > img + em {
  @apply text-stone-500 text-sm;
}

/* code blocks (not inline!) */
#prose-content pre.highlight {
  @apply bg-white/80 shadow-lg md:p-6 border border-stone-200 rounded-md;
}

/* DETAILS & SUMMARY */
summary {
  @apply block mb-2 text-stone-500 cursor-pointer;
}

summary + aside {
  @apply ml-4;
  @apply prose-a:!font-normal hover:prose-a:!text-orange-500 prose-a:!text-stone-500 prose-a:!no-underline prose-a:after:content-[''];
}

summary + aside ol {
  @apply !my-0;
}

summary + aside li {
  @apply !my-0;
}

/* END DETAILS & SUMMARY */

/*
  inline code (not code blocks!)
	we target .prose p code, rather than using prose-code:, so that we
	only format inline code blocks.
*/
.prose p code::before,
.prose li code::before {
  content: "";
}

.prose p code::after,
.prose li code::after {
  content: "";
}
.prose p code,
.prose li code {
  @apply bg-stone-300/80 px-2 py-1 rounded-md font-bold text-black;
}

.prose blockquote ::before {
  content: "";
}

.prose blockquote ::after {
  content: "";
}

.prose blockquote {
  @apply bg-orange-50 pr-2 border-orange-200 border-y-2 border-r-2 border-l-8 rounded-r-xl text-orange-950;
}

.prose blockquote * ::before {
  content: "";
}

.prose blockquote * ::after {
  content: "";
}
