h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  padding: 4vh 2vh;

  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 13px;

  color: #333;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.5);
  }
}

#left {
  min-width: 0;
  width: 12vw;
}

#content-container {
  #content {
    max-width: 500px;
  }
  flex-grow: 1;
}

#menu {
  text-align: right;
  ul {
    list-style: none;
  }
}

#gallery-container {
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
  
  img {
    width: 95%;
    height: auto;
    padding-bottom: 5%;
  }

}

@media (max-width: 600px) {
  #gallery-container {
    column-count: 2;
  }
}

.gallery-padding-top {
  padding-top: 5em;
}

.hero-img-small {
  max-height: 130px;
}

.byline {
  font-size: 11px;
  color: #666;
}