@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "./highlighting.css";
// @import "./quote_blocks.css";

// COLORS
$body-text-color: #333;

// MEDIA QUERY BREAKPOINTS
$phone: 640px;

#content-container {
  #content {
    max-width: 640px;

    #content-heading {
      h1 {
        margin-bottom: 0.25rem;
      }
      margin-bottom: 2rem;
    }

    p:has(img + em) {
      // text-align: center;
      padding-bottom: 0.5rem;
    }

    p img {
      display: block;
      margin-bottom: 0.5rem;
    }

    p img + em {
      font-size: 12px;
      color: #777;
    }
  }

  flex-grow: 1;
}

table {
  border: 1px solid #333;
  padding: 1rem;

  tr > td {
    padding-bottom: 16px;
  }

  tr:last-child > td {
    padding-bottom: 0px;
  }
}

// Code blocks
div.highlight {
  width: calc(min(1000px, 90vw)) !important;
  border: 1px solid black;
  overflow-x: auto;
  padding: 1em;
}
