@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "./highlighting.css";
// @import "./quote_blocks.css";

// COLORS
$background-color: white;
$body-text-color: #333;
$quote-text-color: lighten($body-text-color, 20%);

// MEDIA QUERY BREAKPOINTS
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

html {
  background-color: $background-color;
  body {
    height: 100%;
  }
}

h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;

  padding: 4vh 2vh;
  @media (max-width: $phone) {
    padding: 2vh 0vh;
  }

  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  // font-size: 13px;
  font-size: 0.9rem;

  color: $body-text-color;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.5);
  }
}

#left {
  min-width: 0;
  width: 12vw;
}

#content-container {
  #content {
    max-width: 500px;
  }
  flex-grow: 1;
}

#menu {
  text-align: right;
  height: fit-content;
  ul {
    list-style: none;
    padding-inline-start: 20px;
  }
}

#gallery-container {
  line-height: 0;
  column-count: 3;
  column-gap: 0px;

  img {
    width: 95%;
    height: auto;
    padding-bottom: 5%;
  }
}

@media (max-width: $phone) {
  #gallery-container {
    column-count: 2;
  }
}

.gallery-padding-top {
  padding-top: 5em;
}

.hero-img-small {
  max-height: 130px;
}

.img-medium {
  max-height: 300px;
}

.img-responsive {
  width: 100%;
}

.byline {
  font-size: 11px;
  color: #666;
}

.text-underline {
  text-decoration: underline;
}

.gist {
  width: calc(min(1000px, 80vw)) !important;
}

table {
  border: 1px solid black;
}

// Code blocks
div.highlight {
  width: calc(min(1000px, 90vw)) !important;
  border: 1px solid black;
  overflow-x: auto;
  padding: 1em;
}
