<%#
  Wraps markdown_layout.erb with layout.erb
  (this gets inserted into the "yield" in layout.erb)

  If it's a blog article, displays "â† Back | Date" above the title.
%>
<% wrap_layout :layout do %>
  <div id="prose-content" class="prose">
    <div class="not-prose">
      <span class="flex gap-x-4 md:gap-x-32 md:-ml-[11.5rem] text-stone-400">
        <a class="no-underline after:content-none" href="/blog">&larr; Back</a>
        <p class=""><%= current_article.data.date %></p>
      </span>
      <h1 class="mt-1 font-semibold text-xl"><%= current_article.title %></h1>
    </div>
    <hr />
    <%= yield %>
  </div>
<% end %>
