<%# pass as locals:
	path: "images/electronics/main"	|| where are the images located?
	unsplash_link: true / false || should we link images to unsplash?

	example link
	<%= partial 'partials/folder-list', :locals => { path: "woodworking"} %>
<%#
 %>
<ul>
  <% require 'date' %>
  <% sitemap.resources.select { |resource|
       resource.path.start_with?("#{path}/") }
       .sort_by { |resource| Date.parse(resource.data.date) }
       .reverse
       .each do |resource| %>
    <li>
      <%= link_to "#{resource.data.title} (#{Date.parse(resource.data.date).strftime('%m/%Y')})", resource.url %>
    </li>
  <% end %>
</ul>
