<%# pass as locals:
	path: "images/electronics/main"	|| where are the images located?
	unsplash_link: true / false || should we link images to unsplash?

	example link
	<%= partial 'partials/image_gallery', :locals => { :path = "images/electronics/freeform-blinky", unsplash_link?: true}%>
<%#

	image gallery partial:
	 - filters out pictures containing "diagram".
 %>
<div class="not-prose columns-2 sm:columns-3 gap-x-3 border border-stone-100 rounded-md p-2 max-w-md">
  <% sitemap.resources.shuffle.each do |resource| %>
    <% if resource.path.start_with?( path ) and !resource.path.include?("diagram") %>
      <% if unsplash_link %>
        <% link_to "https://unsplash.com/photos/" + resource.path.split("-")[2], class: "after:content-['']" do %>
          <%= image_tag resource.path, class: "mb-3 m-0 hover:brightness-105 transition-all" %>
        <% end %>
      <% else %>
        <%= image_tag resource.path, class: "mb-3 h-auto m-0" %>
      <% end%>
    <% end %>
  <% end %>
</div>
