<div id="mobile-menu" class="grid sm:hidden text-left h-fit border border-solid border-stone-900 p-4 mb-4">
  <span class="title">Harrison Broadbent | <a href="mailto:mail@harrisonbroadbent.com">Email me ↗</a></span>
  <ul class="grid grid-cols-3 list-none ps-5">
    <% Dir.entries('source').sort.each do |page| %>
      <%# Regex to filter out "." and ".." directories found by Dir.entries %>
      <% if not page =~ /^[.]+/ %>
        <%# Filter out folders and index file (as its empty), and anything beginning with an underscore %>
        <% if page.include? "html" and not page.include? "index" and not page[0] == "_" %>
          <li>
            <% page_name_components = page.split(".") %>
            <%= link_to page_name_components[0].to_s.capitalize, "/#{page_name_components[0,2].join('.')}" %>
          </li>
        <% end%>
      <% end %>
    <% end %>
  </ul>
</div>
