---
title: Writing
---

# Writing

Short articles / essays that i've put together to share.

[//]: # (sort notes by reverse date order so the newest are listed first)
<ul>
	<% current_resource
	.children
	.sort_by { |child| child.data.date }
	.reverse
	.each do |resource|%>
		<li>
			<%= link_to "#{resource.data.title} — #{resource.data.date}", resource %>
		</li>
	<% end %>
</ul>

<%# 
Writing document formatting : 
Date - YYYY-MM-DD 
%>