---
title: Electronics
---

# Electronics

I've been hooked on electronics since my eleventh birthday, when I received my first [Arduino](https://www.arduino.cc).

Recently I've been building freeform circuit sculptures, and I also love photographing electronics circuits and components. 

Scroll for a selection of photos, or check out some of my project writeups -

- [Blinky](electronics/blinky.html)
- [2Sat](electronics/2sat.html)

<div class="gallery-padding-top">
	<%= partial("partials/image-gallery", :locals => { :path => "images/electronics/main/", :unsplash_link => true})%>
</div>
<%= link_to 'photos from my unsplash','https://unsplash.com/@harrisonbroadbent'%>