---
title: Electronics
---

# Electronics

I've been hooked on electronics since my 11th birthday, when I bought my first Arduino.

I love photographing electronics circuits and components, and recently I've also been building freeform circuit sculptures. 

Scroll for a selection of photos, or check out some project writeups -

- [Blinky](electronics/blinky.html)

<div class="gallery-padding-top">
	<%= partial("partials/image-gallery", :locals => { :path => "images/electronics/main/", :unsplash_link => true})%>
</div>
<%= link_to 'photos from my unsplash','https://unsplash.com/@hbtography'%>