---
title: Electronics
---

# Electronics

Ever since I was a kid, I've been interested in electronics.

Occasionally, I build freeform circuit sculptures. I also love photographing electronics circuits and components. 

Some recent projects -

<%= partial 'partials/folder-list', :locals => { path: "electronics"} %>

<div class="pt-8">
	<p>And a collection of electronics photos: </p>
	<%= partial("partials/image-gallery", :locals => { :path => "images/electronics/main/", :unsplash_link => true})%>
</div>
<%= link_to 'see more on unsplash','https://unsplash.com/@harrisonbroadbent'%>