---
title: Harrison Broadbent
description: Welcome to the Ruby, Middleman and TailwindCSS starter blog template. It's setup and configured for easy blogging with markdown files and code blocks, making it perfect for a personal site or blog.
---
<div class="hidden flex-col space-y-6 text-left">
  <h1 class="text-stone-800 text-9xl leading-[0.7] font-bold tracking-tighter mt-6 mb-4">
    Harrison Broadbent
  </h1>
</div>
