---
title: Personal Website
description: My personal website.
---
<div class="hidden flex-col space-y-6 text-left">
  <h1 class="text-stone-800 text-9xl leading-[0.7] font-bold tracking-tighter mt-6 mb-4">
    Harrison Broadbent
  </h1>
</div>
