---
title: Running
---

# Running

I run quite a bit.

Current distance record: 51.04km - <%= link_to 'check it out', 'https://www.strava.com/activities/4820966783/overview'%>

<div class="strava-summary-widget">
	<%= partial("partials/strava_summary_widget")%>
</div>

<div class="strava-activity-widget">
	<%= partial('partials/strava_activity_widget')%>
</div>

<%= link_to 'my strava account','https://www.strava.com/athletes/72155361'%>