---
title: Sourdough
blog: sourdough
---

# Sourdough

Recently, I've been getting into sourdough baking.

<%= partial "partials/article_list", locals: { group_by_year: true } %>

<div class="pt-8">
	<p>Some unsolicited bread pics: </p>
	<%= partial("partials/image_gallery", :locals => { :path => "images/sourdough/main/", :unsplash_link => false})%>
</div>
