---
title: Sourdough
---

# Sourdough Recently, I've been getting into sourdough baking. Below are some
short posts I've written summarizing some of the things i've learn't along the
way —  - [Feeding your starter rye flour isn't optional, it's a
must](sourdough/rye-flour-is-not-optional.html)

<div class="gallery-padding-top">
  <p>Some unsolicited bread pics:</p>
  <%= partial("partials/image-gallery", :locals => { :path =>
  "images/sourdough/main/", :unsplash_link => false})%>
</div>
